.container {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    padding: 1rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.titleBlock {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.title {
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
    text-align: center;
}

/* .card {
    display: flex;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    flex-direction: column;
    align-self: stretch;
    margin: 0.5rem;
    width: 100%;
    max-width: 25%;
    padding: 0.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
} */

.cardTitle {
    margin: 0 0 0.75rem 0;
}

.cardText {
    margin: 0 0 0.5rem 0;
    font-size: 0.75rem;
}

.label {
    display: flex;
    flex-direction: column;
}

.label:not(:last-child),
.label *:not(:last-child) {
    margin-bottom: 1rem;
}

.label input {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    outline: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
        border-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.label input:focus {
    color: #0070f3;
    border-color: #0070f3;
}
.button {
    width: 100%;
    outline: none;
    border: 2px solid #293048;
    color: #293048;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}
.button:hover {
    background-color: #293048;
    color: #fff;
}

.button:active {
    opacity: 0.67;
}

.error {
    display: flex;
    padding: 0.5rem 1rem;
    color: red;
    border: 2px solid red;
    border-radius: 4px;
}

@media (min-width: 1px) {
    .input {
        font-size: 1rem;
    }
    .button {
        width: 50%;
        padding: 1rem 2rem;
        align-self: center;
        font-size: 1.3rem;
    }

    .card {
        align-self: center;
        max-width: 90%;
    }
    .title {
        display: none;
    }
    .modalTextBlock {
        margin: 1rem;
    }
}
.errorBlock {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 100%;
    align-items: center;
    padding: 0 2rem;
}

.errorMessage {
    color: #fff;
    text-align: center;
}

@media (min-width: 576px) {
    .title {
        display: block;
        color: #fff;
    }

    .card {
        align-self: stretch;
        max-width: 25%;
    }
}

@media (min-width: 768px) {
    .errorMessage {
        color: #fff;
    }
}

@media (min-width: 992px) {
    .title {
        color: #293048;
        display: none;
    }
}

@media (min-width: 1200px) {
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
@keyframes moveWrapper {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.4;
    }
}
@keyframes move {
    from {
        transform: scale(0);
        animation-timing-function: ease-out;
    }

    to {
        transform: scale(1);
    }
}
